@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.cdnfonts.com/css/quesmo');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: white;
  font-family: 'Prompt', sans-serif;
}

.heading {
  font-family: 'Quesmo', sans-serif;
}